/* CSS PADRAO */
body{
    font-family: 'Roboto script=latin rev=2'
    
}
.font-tamanho{
    font-size: 20px;
}

.azul-escuro{
    background-color: rgb(28, 60, 80);
}


.azul-claro{
    background-color: rgb(0, 189, 156);
}


/* CSS PARA O CORPO SUPERIOR */

.perfil-img{
    border-radius: 150px ;
    overflow: hidden;
}

/* CSS portfolio */
.letra-cor{
    color: rgb(28, 60, 80);
}

/* CSS PARA CONTATOS  */
.contatos a{
    text-decoration: none;
    color: black;
}
.contatos a:hover{
    color: rgb(0, 189, 156);
}


/* CSS para seta  */
.seta-home{
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
    padding-left: 15px;
    position: fixed;
    bottom: 1%;
    right: 1%;
    cursor: pointer;
    display: none;
}

.navbar-brand{
    font-size: 26px;
}